body {
  background-color: rgb(245, 245, 245);
  --thGreen: #029640;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-size: 50px;

  margin: 20px 0;

  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Source Sans Pro", sans-serif;
}
#playerOne {
  width: 50vw;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#playerOneCard {
  width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background: url(/public/data/Untitled-1-01.png);
  border-radius: 30px;
  position: relative;
}
#cardOneText {
  color: aliceblue;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}

#cardOneText .attribute {
  color: #029640;
}
#cardOneText p {
  margin: 0 0;
}
#cardOneText .name {
  font-size: 50px;
  margin: 0;
}
#cardOneText .description {
  font-size: 15px;
  margin: 0 0 10px 0;
}
#cardOneText p:hover {
  background: cornflowerblue;
  cursor: pointer;
}

#playerTwo {
  width: 50vw;
  height: 100%;

  position: absolute;
  right: 0;
  top: 0;

  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--thGreen);
}
#playerTwoCard {
  width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background: url(/public/assets/card-back.svg);
  border-radius: 30px;
  position: relative;
}

#cardTwoText {
  visibility: hidden;
  color: aliceblue;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}

#cardTwoText .attribute {
  color: #029640;
}
#cardTwoText p {
  margin: 0 0;
}
#cardTwoText .name {
  font-size: 50px;
  margin: 0;
}
#cardTwoText .description {
  font-size: 15px;
  margin: 0 0 10px 0;
}
#cardTwoText p:hover {
  background: cornflowerblue;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1000;
}
